body {
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Quicksand';
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 63px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-wrapper {
  display: flex;
  align-items: center;
}

.App-header input {
  border-radius: 20px;
  border: none;
  height: 50px;
  width: 400px;
  font-size: 21px;
  padding: 5px 15px;
  outline: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.subtype-filter {
  padding: 20px;
  color: grey;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.subtype-filter img {
  height: 30px;
}

.subtype-filter p {
  margin: 0;
  color: #636363;
}